.search-icon {
  fill: #ececec;
}
.border-3 {
  border-width: 3px;
}
.w-full {
  width: 100% !important;
}
.stockTips {
  --tw-text-opacity: 1;
  color: rgba(84, 95, 194, var(--tw-text-opacity));
  --tw-bg-opacity: 1;
  background-color: rgba(236, 238, 255, var(--tw-bg-opacity));
}
