<div
  class="text-sm bg-primary font-medium pl-14 text-center text-gray-500 dark:text-gray-400 dark:border-gray-700"
>
  <ul class="flex flex-wrap -mb-px">
    <li class="pr-6">
      <a
        aria-current="page"
        class="inline-block p-4 border-b-4 text-15 leading-none cursor-pointer font-normal border-white text-white"
        >Top Stocks</a
      >
    </li>
    <li class="pr-6">
      <a
        class="inline-block p-4 hover:border-b-4 text-15 leading-none cursor-pointer font-normal hover:border-white border-b-4 border-primary hover:text-white text-border-color"
        >Saved Calls</a
      >
    </li>
    <li class="pr-6">
      <a
        class="inline-block p-4 hover:border-b-4 text-15 leading-none cursor-pointer font-normal hover:border-white border-b-4 border-primary hover:text-white text-border-color"
        >My Subscription</a
      >
    </li>
  </ul>
</div>
