.top-stock-header {
  --background: #545fc2;
}

ion-button.filter-button {
  --background: #fff;
  border-radius: 42px;
}
::ng-deep .searchbar-input.sc-ion-searchbar-md {
  line-height: 25px;
  padding-inline-end: 10px;
  padding-inline-start: 35px;
  font-size: 14px;
}
::ng-deep .searchbar-search-icon.sc-ion-searchbar-md {
  left: 11px;
  top: 9px;
  width: 18px;
  height: 18px;
  color: grey;
}
.custom-padding-col {
}
